@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["CheckYourEmailTitle"];
}

<h2>@Localizer["CheckYourEmailHeader"]</h2>
<div class="alert alert-info" role="alert">
    @Localizer["CheckYourEmailMessage"]
</div>
