@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["EmailConfirmationTitle"];
}

<h2>@Localizer["EmailConfirmationHeader"]</h2>
<div class="alert alert-info" role="alert">
    @Localizer["EmailVerificationSuccessMessage"]
</div>

@section Scripts {
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "Account")'; // Corrected for clarity
        }, 2000);
    </script>
}
