@{
    ViewData["Title"] = "Email Confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/OtherPages_Light.css">
</head>
<body>
<h2>Check Your Email</h2>
<div class="alert alert-info" role="alert">
    You email is successfully verified!
</div>
</body>
@section Scripts {
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("login")'; // Redirect to Home/Index after 2 seconds
        }, 2000);
    </script>
}