@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["EmailConfirmationTitle"];
}

<head>
    <link rel="stylesheet" href="~/css/OtherPages_Light.css">
</head>
<body>
<h2>@Localizer["EmailConfirmationHeader"]</h2>

<div class="alert alert-info" role="alert">
    @Localizer["EmailVerificationSuccessMessage"]
</div>
</body>
@section Scripts {
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Login", "Account")'; // Corrected for clarity
        }, 2000);
    </script>
}
