@model WebApp.Models.RegisterViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Signup</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="~/css/Auth.css">
</head>
<body>
    <section class="signup-section">
        <div class="container">
            <div class="signup-content">
                <h1 class="heading">@Localizer["RegisterHeader"]</h1>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger" role="alert">
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <span>@modelError.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }
                <div class="form-block w-form">
    <form asp-action="Register" method="post" class="signup-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-line-wrapper">
                            <label for="username" class="form-field-label">Username</label>
                            <div class="text-field-wrapper">
                                <input asp-for="UserName" class="form-text-field w-input" id="username" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-line-wrapper">
                            <label for="email" class="form-field-label">Email</label>
                            <div class="text-field-wrapper">
                                <input asp-for="Email" class="form-text-field w-input" id="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-line-wrapper">
                            <label for="password" class="form-field-label">Password</label>
                            <div class="text-field-wrapper">
                                <input asp-for="Password" type="password" class="form-text-field w-input" id="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-line-wrapper">
                            <label for="confirmPassword" class="form-field-label">Confirm Password</label>
                            <div class="text-field-wrapper">
                                <input asp-for="ConfirmPassword" type="password" class="form-text-field w-input" id="confirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="login-button" onclick="submitForm()">
                            <div class="login-button-text">@Localizer["RegisterButton"]</div>
                        </div>

                        
    </form>
                </div>
            </div>
        </div>
    </section>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    function submitForm() {
        document.querySelector(".signup-form").submit();
    }
</script>
