    .faq-content {
        grid-column-gap: 9.3em;
        grid-row-gap: 9.3em;
    }

    .question-answer-wrapper {
        width: 62.62em;
    }

    .question-text {
        font-size: 5.61em;
    }

    .question-dropdown-list, .question-dropdown-list.w--open {
        margin-left: 14.95em;
    }

    .question-details-wrapper {
        grid-column-gap: 5.61em;
        grid-row-gap: 5.61em;
    }

    .dropdown-arrow {
        width: 7.48em;
    }

    .question-answer-text {
        font-size: 4.67em;
    }

    .question-dropdown-toggle {
        grid-column-gap: 3.74em;
        grid-row-gap: 3.74em;
    }

        .question-dropdown-toggle.w--open {
            margin-bottom: 7.01em;
        }

    .question-number {
        font-size: 9.35em;
    }
