.footer {
    padding-top: 6.98em;
    padding-bottom: 6.98em;
    background-color: green;
}

.menu-link {
    font-size: 4.19em;
}

.footer-social-media-wrapper {
    gap: 2.33em;
}

.footer-menu {
    gap: 4.65em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
