body {
    background-color: #2C2C2C; /* Змінено колір фону на темну тему */
    color: white;
}

.faq-section p {
    display: none;
}

.toggle-button {
    cursor: pointer;
    background-color: #007BFF;
    color: #FFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

    .toggle-button:hover {
        background-color: #0056b3; /* Змінено колір фону при наведенні курсору */
    }
