
body {
    background-color: #D9D9D9;
    color:black;
}

.faq-section p {
    display: none;
    color: black;
}

.toggle-button {
    cursor: pointer;
    background-color: #007BFF;
    color: #FFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}


