html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #FFFFFF, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #333333; /* Темний фон */
    color: #FFFFFF; /* Білий колір тексту */
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #0077cc; /* Колір посилання */
}

a {
    color: #0077cc; /* Колір посилання */
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #555555; /* Темніша лінія */
}

.border-bottom {
    border-bottom: 1px solid #555555; /* Темніша лінія */
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(255, 255, 255, .05); /* Темна тінь */
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
    color: #FFFFFF; /* Білий колір тексту */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #333333; /* Темний фон */
    color: #FFFFFF; /* Білий колір тексту */
}
