
body {
    background-color: #D9D9D9;
    color:black;
}

.statistic {
    display: flex;
    justify-content: space-between;
}


table {
    margin-top: 10%;
    width: 100%;
    border-collapse: collapse;
    color: black;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: black;
}

.choose-options {
    width: 40%;
    height: 100%;
    left: 5%;
    margin-right: 20px;
    top: 10%;
    color: black;
}
.date-pick label, .date-pick .form-group label {
    color: black;
}



.form-group {
    width: 50%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 182px;
    height: 42px;
    background-color: #545454;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 60px;
}

    button:hover {
        background-color: white;
        color: #545454;
    }


