@* @{
    ViewData["Title"] = "Home Page";
} *@
@model WebApp.Models.HomeViewModel

<div class="text-center">
    
    <p>@Model.Savings.Name</p>
    <p>@Model.Income.Name</p>

    @foreach (var category in Model.Categories) 
    {
        <p>@category.Name</p>
        // Display other review details
    }
</div>
