@using Application.DTOs.IncomeDTOs
@using Application.DTOs.ExpenseDTOs

@model WebApp.Models.HomeViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>@Localizer["Home"]</title>
    @* <link rel="stylesheet" href="~/css/Home.css"> *@
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="content">
                
                <div>
                    @if (Model.Data != null && Model.Data.Any())
                    {
                        var firstHomeData = Model.Data.FirstOrDefault();
                        @Html.Partial("_SavingsPartial", firstHomeData.Savings)
                    }
                </div>
               @*  <div>
                    @if (Model.Data != null && Model.Data.Any())
                    {
                        var firstHomeData = Model.Data.FirstOrDefault();
                        @Html.Partial("_IncomePartial", firstHomeData.Incomes)
                    }
                </div>
                <div>
                    @if (Model.Data != null && Model.Data.Any())
                    {
                        var firstHomeData = Model.Data.FirstOrDefault();
                        @Html.Partial("_ExpenseCategoryPartial", firstHomeData.Categories)
                    }
                </div> *@
            </div>
        </div>
    </div>
    

</body>
</html>
