@model WebApp.Models.HomeViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body{
            background-color: #D9D9D9;
        }
        html {
            font-size: 16px;
        }

        .category-wrapper {
            margin: 1rem;
            color: white;
        }

        .category-heading-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .category-heading-name-wrapper {
            background-color: #7B7B7B;
            border-radius: 0.3125rem;
            padding: 1rem 1.5rem;
            display: inline-block;
        }

        .category-heading {
            font-size: 2.25rem;
        }

        .category-heading-details-wrapper {
            color: burlywood;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .expenses-wrapper {
            color: burlywood;
        }

        .add-category-button {
            margin: 1rem;
            color: #1C25FF;
        }
    </style>
</head>
<body>
    <div class="content">
        
        <div>
            @Html.Partial("_IncomePartial", Model.Incomes)
        </div>

        <div>
            @Html.Partial("_ExpenseCategoryPartial", Model.Categories)
        </div>

    </div>
</body>
</html>
