@using Application.DTOs.IncomeDTOs
@using Application.DTOs.ExpenseDTOs

@model WebApp.Models.HomeViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Localizer["Home"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    @{
        string theme = ViewBag.Theme ?? "Dark"; // За замовчуванням використовується темна тема
        string cssFileName = $"Home_{theme}.css";
    }

    <link rel="stylesheet" href="~/css/@cssFileName">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="content">
        <div>
            @if (Model.Data != null && Model.Data.Any())
            {
                var firstHomeData = Model.Data.FirstOrDefault();
                @Html.Partial("_NewSavingsPartial", firstHomeData.Savings)
            }
        </div>

        <div>
            @if (Model.Data != null && Model.Data.Any())
            {
                var firstHomeData = Model.Data.FirstOrDefault();
                @Html.Partial("_NewIncomePartial", firstHomeData.Incomes)
            }
        </div>

        <div>
            @if (Model.Data != null && Model.Data.Any())
            {
                var firstHomeData = Model.Data.FirstOrDefault();
                @Html.Partial("_NewExpenseCategoryPartial", firstHomeData.Categories)
            }
        </div>
    </div>

</body>
</html>
