@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PrivacyPolicyTitle"];
}
<h1>@ViewData["Title"]</h1>

<p>@Localizer["PrivacyPolicyDescription"]</p>
