@{
    ViewData["Title"] = "FAQ";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body{
            background-color: #D9D9D9;
        }
    </style>
</head>
<body>

    <h1>FAQ</h1>

    <div class="faq-section">
        <h2>Чи будуть змінені цифрові значення моїх доходів та розходів після зміни валюти в налаштуваннях??</h2>
        <p>- Ні, цифрові значення автоматично не змінюються.</p>
    </div>

    <div class="faq-section">
        <h2>Чи можна створити декілька облікових записів використовуючи одну пошту?</h2>
        <p>- Ні, використовуючи одну пошту можна створити лише один обліковий запис.</p>
    </div>

    <div class="faq-section">
        <h2>Чи можна завантажити імпортувати дані у система?</h2>
        <p>- На даний момент не можна, наша команда працює над реалізацією цієї функції.</p>
    </div>


</body>
</html>
